@page "{id}"
@model Movies_razor.Pages.DetailsModel

<title>Фильм: @Model.movie.Title</title>
<h2>Фильм: </h2>
<p> @Model.movie.Title</p>
<p> @Model.movie.Year</p>
<p> @Model.movie.Director</p>
<p> @Model.movie.Description</p>